/* GLOBAL COLORS */

:root {
    --yellow-primary: #FFD700;
    --blue-primary: #011E6C;
    --blue-secondary: #02559a;


    --strong-black: #0f0f0f;
    --primary-black: #161616;
    --secondary-black: #1E1E1E;
    --light-black: #272727;

    --white-color: #e0e0e0;
    --grey-color: #898989;

    --primary-font: "Montserrat", sans-serif;
}

/* END GLOBAL COLORS */



/* GLOBAL STYLESHEET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--primary-font);

    background: #272727;
    color: var(--white-color);

    height: 100vh;
    width: 100%;
    overflow-x: hidden;

    position: relative;

    scroll-behavior: smooth;
    
}

section {
    padding: 70px 0;
    position: relative;
}


.title-one, .title-two, .subtitle, .cta-button, .countdown-title {
    font-weight: bold;
}

.title-one {
    font-size: 40px;
    font-weight: 600;

    margin: 0 0 10px;
}

.title-two {
    font-size: 30px;
}

.subtitle {
    font-size: 22px;
}

.mini-title {
    font-size: 20px;
    font-weight: bold;
}

.paragraph {
    font-size: 18px;
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.copy {
    font-size: 14px;
    color: 898989;
}

.yellow-text {
    color: var(--yellow-primary);
}

.blue-text {
    color: var(--blue-secondary);
}

.red-text {
    color: #FF3636;
    text-decoration: line-through;
}

.gradient-1 {
    background: linear-gradient(to bottom, var(--strong-black) 0%, var(--primary-black) 100%);
}

.gradient-2 {
    background: linear-gradient(to bottom, var(--primary-black) 0%, var(--strong-black) 100%);
}

.skew-c{
    width:100%;
    height:50px;
    position:absolute;
}

.skew-cc{
    width:100%;
    height:80px;
    position:absolute;
}

.link {
    text-decoration: none;
    color: var(--yellow-primary);

    transition: color .3s ease-in-out;
}

.link:hover {
    color: var(--white-color);
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

    display: flex;  
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}
  

::-webkit-scrollbar-track {
    background: #000000;
}
  
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--blue-secondary);
}
  

::-webkit-scrollbar-thumb:hover {
    background: var(--blue-primary);
}

.arrow-down {
    position: relative;
    top: -5px;
    
    display: inline-block;

    width: 12px;
    height: 12px;

    border-right: 0.1em solid var(--white-color);
    border-top: 0.1em solid var(--white-color);;

    transform: rotate(135deg);
}

.center-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-button {
    margin: 10px 0;
    padding: 20px;

    background: #011E6C;
    color: var(--white-color);

    border-radius: 10px;
    text-decoration: none;

    height: 58px;
    max-width: 400PX;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button:hover {
    transform: scale(1.2);
    
    background-color: var(--yellow-primary);
    color: var(--strong-black);
}

.divider-line {
    max-width: 150px;
    margin: 20px auto;

    border-color: var(--yellow-primary);

    width: 20%;
}

/* ANIMATIONS */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.hidden-top {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.hidden-bottom {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(10%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}
