@media (max-width: 1290px) {
  .error-content {
    width: 70%;
  }
}

@media (max-width: 930px) {
  .error-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .error-content {
    width: 80%;
    padding: 40px 20px;
  }

  .error-title {
      font-size: 7em;
  }
}

@media (max-width: 480px) {
  .error-content {
      width: 90%;
      padding: 20px 10px;
  }

  .error-title {
      font-size: 5.5em;
  }
}