@media (max-width: 1290px) {
  .thanks-content {
    width: 70%;
  }
}

@media (max-width: 930px) {
  .thanks-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .thanks-content {
      width: 80%;
      padding: 40px 20px;
  }

  .title-one {
      font-size: 2.5em;
  }

  .send-email-icon {
    width: 60px;
  }

  .email-message .paragraph {
      max-width: 100%;
      margin: 10px 0 0 0;
      text-align: left;
  }
}

@media (max-width: 480px) {
  .thanks-content {
      width: 90%;
      padding: 20px 10px;
  }

  .title-one {
      font-size: 2em;
  }

  .email-message {
      padding: 20px 0;
  }

  .send-email-icon {
      max-width: 50px;
  }

  .email-message .paragraph {
      font-size: 0.9em;
  }
}